#fastAPI
fastapi
uvicorn

#testing
pytest
httpx
email-validator

#middleware
#psycopg2-binary
asyncpg
fastapi-async-sqlalchemy

#pydantic
pydantic-extra-types
phonenumbers

#SQLAlchemy
SQLAlchemy

#security
python-multipart
python-jose[cryptography]
passlib[bcrypt]